doctype html
html 
    head
        title="eCommerce"
        link(rel="stylesheet", href="/styles.css")
        script(src="/socket.io/socket.io.js")
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js")
        script(src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js")

    body 
        case !logged
            when true 
                div(class="main")
                    if form
                        div(style="width:50%")
                            div(class="formBox")
                                h3="Registrar nuevo producto"

                                form(id="productForm")
                                    input(type="text" name="title" placeholder="Título" id="title" required)
                                    input(type="text" name="thumbnail" placeholder="Foto (url)" id="thumbnail")
                                    input(type="text" name="detail" placeholder="Details" id="detail")
                                    input(type="number" name="price" placeholder="Precio" id="price" required)
                                    input(type="number" name="stock" placeholder="Stock" id="stock" required)
                                    button(type="submit" class="submit")="Registrar"


                            div(class="chatBox")

                                form(id="chat")
                                    div(class="chatForm")
                                        input(type="text" placeholder="Nombre" id="name" required)
                                        input(type="text" placeholder="Apellido" id="lastname")
                                        input(type="number" placeholder="Edad" id="age")
                                    div(class="chatForm")
                                        input(type="text" placeholder="Alias" id="alias" required)
                                        input(type="text" placeholder="Avatar" id="avatar")
                                        input(type="text" placeholder="E-mail" id="email" required)


                                    hr

                                    ul(id="chat-messages")

                                    hr
                                    
                                    div(class="chatDiv")
                                        input(type="text" placeholder="Di algo!" id="message" required)
                                        input(type="submit" class="submit" value="Enviar")
                                        
                                    span(id="compresion")=""

                    include ../views/products.pug

            default
                div(class='log')
                    form(method="POST" action="http://localhost:8080/api/session/login")
                        input(type="text" name="username" placeholder="Usuario" required)
                        input(type="text" name="password" placeholder="Contraseña" required)
                        input(type="submit" class="submit" value="Entrar")

        script
            include ../public/script.js
            include ../public/log.js